{% extends 'base/base.html' %}
{% block content %}

    {% if user.is_authenticated %}

        <h1>Blog Articles</h1>

        {% for article in articles %}
        <div class="card mb-2">
            <div class="card-header">
                <small class="text-muted">
                    Author: <a href="{% url 'user_detail' article.author.id %}" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">{{ article.author.username }}</a>
                </small>
            </div>
            {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <p><small class="text-body-secondary">Last updated {{ article.updated_at|date:"Y-m-d H:i:s" }}</small></p>
                <a href="{% url 'article_detail' article.id %}" class="btn btn-info">View more</a>
            </div>
        </div>
        {% endfor %}
        
    {% else %}

<div class="col-md-6 offset-md-3">
    <div class="card">
        <h1 class="card-header">Login</h1>
        <div class="card-body">
        <form action="{% url 'home'%}" method="post">
            {% csrf_token %}
                <br>
                <div class="mb-3">
                <input type="text" class="form-control" name="username", placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                
                <input type="password" class="form-control" name="password", placeholder="Enter your password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            

        </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

