{% extends 'base/base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Update account</h1>
<br/>

<form method="POST">
	{% csrf_token %}

	{{ form.as_p }}

  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Update
  </button>

  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ comment.text }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to update your account?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </div>
      </div>
  </div>
  
  <a href="{% url 'user_detail' pk=current_account.pk %}" class="btn btn-primary">Back</a>
  
</form>


</div>

{% endblock %}