{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        {% if article.image %}
        <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.content }}</p>
            <p><strong>Author: </strong>{{ article.author.username }}</p>
            <p><strong>Published on: </strong>{{ article.created_at|date:"F d, Y" }}</p>
        </div>
    </div>
    <h2>Comments</h2>
    {% if comment in comments%}
        {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                    <p><strong>Author: </strong>{{ comment.author.username }}</p>
                    <p>{{ comment.text }}</p>
                    <p><strong>Posted on: </strong>{{ comment.created_at|date:"F d, Y H:i:s" }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <marquee behavior="" direction="right">No comments yet, add some !</marquee>
        </div>
    {% endif %}

    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</div>
{% endblock %}
